
/*CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
}

nav{
    padding: 0.8rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid grey;
    list-style-type: none;
    height: 8vh;
}

nav .nav, nav .nav-logo{
    margin: .5rem;
    display: inline;
}
/*
Padding-top: 2rem;
Padding-right: 10%;
Padding-left: 10%
Padding-bottom: 3rem;
*/
#intro{
    padding: 2rem 10% 3rem;
    text-align: center;
}

.header{
    text-align: center;
}

#intro h2, #intro p{
    margin-bottom: 1rem;
}

#intro button{
    color: white;
    font-weight: bold   ;
    background-color: #c2195b;
    font-size: 1rem;
    border-radius: 25px;
    padding: 1rem;
}

#succeed-info{
    padding: 2rem 10% 3rem;
}

#succeed-info h2{
    margin-bottom: 1rem;
}

#succeed-info h3{
    text-align: center;
    margin-bottom: 1rem;
}

#succeed-info .card{
    display: inline-block;
    vertical-align: top;
    min-height: 175px;
    border: 1px solid black;
    width: 30%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

footer{
    padding: 0.7rem;
    height: fit-content;
    height: auto;
}

footer span{
    display: inline;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#pre-footer{
    display: block;
    background-color: #023966;
    color: white;
    margin: 0;
    padding: 2rem 1rem 2rem;
    height: 18vh;
}

#pre-footer div{
    display: inline-block;
    margin-right: 10rem;
    vertical-align: text-top;
}


main{
    height: 66vh
}
